This patch makes the kconfig work

---
diff --git a/arch/Kconfig b/arch/Kconfig
index 6b6c827132a4..30dd6ed8e609 100644
--- a/arch/Kconfig
+++ b/arch/Kconfig
@@ -7,6 +7,8 @@
 # Note: arch/$(SRCARCH)/Kconfig needs to be included first so that it can
 # override the default values in this file.
 #
+SRCARCH=arm64
+
 source "arch/$(SRCARCH)/Kconfig"
 
 menu "General architecture-dependent options"
diff --git a/drivers/gpu/arm/Kconfig b/drivers/gpu/arm/Kconfig
index 08d3c4a14388..afb442e4d4ba 100644
--- a/drivers/gpu/arm/Kconfig
+++ b/drivers/gpu/arm/Kconfig
@@ -19,10 +19,6 @@ menuconfig MALI_DDK_VERSION
 choice
 	prompt "version Configuration"
 	depends on MALI_DDK_VERSION
-	default MALI_BIFROST_R38P1 if $(PLATFORM_VERSION) >= 13
-	default MALI_BIFROST_R32P1 if $(PLATFORM_VERSION) = 12
-	default MALI_BIFROST_R26P0 if $(PLATFORM_VERSION) = 11
-	default MALI_BIFROST_R19P0 if $(PLATFORM_VERSION) < 11
 	help
 	  Select the gpu support version.
 config MALI_BIFROST_R19P0
diff --git a/drivers/gpu/arm/bv_r38p1/Kconfig b/drivers/gpu/arm/bv_r38p1/Kconfig
index e8409a16d5b5..b35a84517d9f 100644
--- a/drivers/gpu/arm/bv_r38p1/Kconfig
+++ b/drivers/gpu/arm/bv_r38p1/Kconfig
@@ -387,7 +387,7 @@ config MALI_HW_ERRATA_1485982_USE_CLOCK_ALTERNATIVE
 endif
 
 config MALI_ARBITRATION
-	tristate "Enable Virtualization reference code"
+	bool "Enable Virtualization reference code"
 	depends on MALI_MIDGARD
 	default n
 	help
diff --git a/drivers/sensorhub/Kconfig b/drivers/sensorhub/Kconfig
index 3cdb16d80b04..317a2cf00b43 100644
--- a/drivers/sensorhub/Kconfig
+++ b/drivers/sensorhub/Kconfig
@@ -22,9 +22,3 @@ config SHUB_AOIS
 	  This is AOIS driver for camera
 	  Set as y if the driver is used in this project
 	  use CONFIG_SHUB_AOIS
-
-config SHUB_PANEL_NOTIFY
-	default n
-	help
-	  This is panel notify for chub
-	  Set as y if the driver is used in this project
